.root {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.typography {
    text-align: center;
    font-size: medium;
    font-weight: var(--font-weight-medium);
    color: var(--color-text-normal);
}
.fieldset {
    margin: 16px 0px 32px 0px;
    padding: 0;
    border-style: none;
    align-items: center;
}
.formControl {
    display: block;
    margin-top: 16px;
}
.errorMessage {
    font-size: medium;
    font-weight: var(--font-weight-medium);
    text-align: center;
    align-items: center;
    color: var(--color-text-error);
}
