.root {
    padding: 10;
    width: 100%;
    height: 100%;
    text-align: center;
}
.statusCode {
    font-size: 15vmin;
    font-weight: var(--font-weight-extraBold);
    color: var(--color-primary);
}
.title {
    font-size: 10vmin;
    font-weight: var(--font-weight-bold);
    color: var(--color-secondary);
}
.description {
    font-size: 5vmin;
    font-weight: var(--font-weight-medium);
    color: var(--color-text-normal);
}
